In [94]:
import pandas as pd
import numpy as np

In [95]:
data1 = [10, 20, 30, 40, 50]

In [97]:
x_min=min(data1)
x_max=max(data1)

In [98]:
scaled=[(X-x_min)/(x_max-x_min) for X in data1]

In [99]:
print(scaled)

[0.0, 0.25, 0.5, 0.75, 1.0]

In [101]:
import pandas as pd

df = pd.DataFrame({'A': [10, 20, 30, 40]})

# Add 5 to each element in column 'A'
df['A_plus_5'] = [x + 5 for x in df['A']]
df

    A  A_plus_5
0  10        15
1  20        25
2  30        35
3  40        45

In [102]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [10, 20, 30]
})

# Add A and B for each row
df['sub'] = [b - a for a, b in zip(df['A'], df['B'])]
print(df)

   A   B  sub
0  1  10    9
1  2  20   18
2  3  30   27

In [103]:
df['Flag'] = ['High' if x > 2 else 'Low' for x in df['A']]

In [104]:
df

   A   B  sub  Flag
0  1  10    9   Low
1  2  20   18   Low
2  3  30   27  High

In [105]:
df.groupby('Flag')['B'].sum()

Flag
High    30
Low     30
Name: B, dtype: int64

In [106]:
df2=pd.DataFrame(data1)

In [113]:
data2=np.array(data1)

In [125]:
data2.shape

(5,)

In [117]:
from sklearn.preprocessing import MinMaxScaler

scaler=MinMaxScaler()

In [118]:
data = np.array([[10], [20], [30], [40], [50]])
data

array([[10],
       [20],
       [30],
       [40],
       [50]])

In [124]:
data.shape

(5, 1)

In [ ]:
da_arr= np.array(data)

In [121]:
type(data)

numpy.ndarray

In [ ]:
scaler.fit_transform(data).flatten()

[0.0, 0.25, 0.5, 0.75, 1.0]

In [45]:
scaled2=scaled1.flatten().tolist()

In [46]:
scaled2

[0.0, 0.25, 0.5, 0.75, 1.0]

In [ ]:
scaled=scaler.fit_transform(df)

In [25]:
scaled

array([[0.  ],
       [0.25],
       [0.5 ],
       [0.75],
       [1.  ]])

In [26]:
# Get 1D list directly
scaled_1d = scaled.flatten().tolist()

In [27]:
scaled_1d

[0.0, 0.25, 0.5, 0.75, 1.0]

In [29]:
lst_2d=scaled.tolist()
lst_2d

[[0.0], [0.25], [0.5], [0.75], [1.0]]